<div class="bg-[#F5F6F8]">
  <div class="relative">
    <button class="absolute top-10 left-24" (click)="backToBook()">
      <img src="../../../assets/images/book/back.svg" class="w-14 h-14" />
    </button>
  </div>
  <img src="../../../assets/images/book/header.png" class="w-full" />
  <div class="flex justify-center items-center h-screen">
    <div
      class="w-[1000px]  shadow-lg bg-white absolute top-44 rounded-lg p-8 space-y-4"
    >
      <div class="relative">
        <img
          src="{{book?.image}}"
          class="absolute -top-24 left-5 w-[210px] h-[300px] shadow-xl rounded-md"
        />
        <div class="px-[270px]">
          <h1 class="text-4xl font-semibold">{{book?.title}}</h1>
          <h2 class="text-[#FFCA42] text-lg font-semibold">{{book?.author}}</h2>
          <p class="text-[#747168] text-sm">{{book?.category}}</p>
        </div>
      </div>
      <div class="px-20 py-40 space-y-3">
        <h4 class="text-lg">Description</h4>
        <p class="text-[#747168]">
          {{book?.description}}
        </p>
      </div>
    </div>
  </div>
</div>
