<app-nav-bar>
  <div class="mt-24 nav">
    <h1 class="uppercase text-[60px] leading-[1.25] font-bold">all books</h1>
    <p class="text-lg">Add Your Favorite Book And Read It Here For Free</p>
    <button
      type="button"
      class="flex items-center justify-center gap-x-1 py-2 px-5 bg-[#FFCA42] rounded-lg mt-3"
      (click)="addBook()"
    >
      <img src="../../../../assets/images/book/plus.svg" class="w-4 h-4" />
      <span>Add New Book</span>
    </button>
  </div>
  <div class="absolute right-36 bottom-5 -z-10 picture">
    <img src="../../../../assets/images/book/book.svg" />
  </div>
</app-nav-bar>
<div class="grid grid-cols-12 pt-12 bg-[#F5F6F8]">
  <div class="col-span-2 space-y-3">
    <form class="relative px-10" [formGroup]="reactiveSearchForm">
      <img
        src="../../../../assets/images/book/search.svg"
        class="absolute top-[7px] px-2"
      />
      <input
        type="text"
        placeholder="Search Book"
        formControlName="search"
        class="py-2 px-9 rounded-lg w-[210px] bg-transparent border-[1px] text-sm text-primary-text font-light border-[#FFCA42]"
      />
    </form>
    <div class="space-y-3">
      <h2 class="px-10 text-lg">Book by Genre</h2>
      <ul class="text-center space-y-3">
        <li>
          <button
            routerLink="/book"
            routerLinkActive="w-full py-2 bg-white rounded-lg text-[#FFCA42] border-l-[3px] border-l-[#FFCA42]"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            All Genres
          </button>
        </li>
        <li
          *ngFor="
            let category of categories
              | search : reactiveSearchForm.value.search
          "
        >
          <button
            routerLink="/book/filterBookCategory"
            routerLinkActive="w-full py-2 bg-white rounded-lg text-[#FFCA42] border-l-[3px] border-l-[#FFCA42]"
            queryParamsHandling="merge"
            [queryParams]="{ categoryName: category.name }"
          >
            {{ category.name }}
          </button>
        </li>
      </ul>
    </div>
  </div>
  <ng-container *ngIf="isFilterCategory(); else filterBookCategory">
    <div class="px-12 col-span-10">
      <div class="h-[1300px] bg-white shadow-md backdrop-blur-xl rounded-lg">
        <h1 class="text-center text-4xl font-medium py-16">All Genres</h1>
        <div class="grid grid-cols-2 px-16 gap-20">
          <div
            class="grid grid-cols-3 w-[420px] h-[210px] bg-white shadow-md rounded-lg"
            *ngFor="let book of books"
          >
            <div class="col-span-1 border-4">
              <img src="{{ book.image }}" />
            </div>
            <div class="col-span-2 px-5 py-2">
              <h2 class="text-2xl line-clamp-1 text-primary">
                {{ book.title }}
              </h2>
              <h3 class="text-[#FFCA42] uppercase">{{ book.author }}</h3>
              <p class="text-[#969AA0]">
                {{ book.description }}
              </p>
              <div class="flex justify-between items-center mt-4">
                <button
                  type="button"
                  class="w-[70px] h-[40px] border-[1px] rounded-lg border-[#FFCA42] text-[#FFCA42]"
                  (click)="viewBook(book.id)"
                >
                  View
                </button>
                <button
                  type="button"
                  class="w-[70px] h-[40px] border-[1px] rounded-lg border-[#4255FF] text-[#4255FF]"
                  (click)="openDialog(book)"
                >
                  Edit
                </button>
                <button
                  type="button"
                  class="w-[70px] h-[40px] border-[1px] rounded-lg border-[#FF4242] text-[#FF4242]"
                  (click)="removeBook(book)"
                >
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    ></ng-container
  >
</div>

<ng-template #filterBookCategory>
  <div class="px-12 col-span-10">
    <router-outlet></router-outlet>
  </div>
</ng-template>
