<div class="bg-primary p-6">
  <p class="text-white text-center space-x-2">
    <span>© </span> <span>Copyright 2023 MY<span class="font-semibold">BOOK</span></span> <span>|</span>
    <span class="font-semibold">KHENG SOVANNAK</span>
  </p>
</div>
