<app-nav-bar>
  <div class="mt-24 nav">
    <h1 class="uppercase text-[60px] leading-[1.25] font-bold">
      read and add <br />
      your insight
    </h1>
    <p class="text-lg">Find Your Favorite Book And Read It Here For Free</p>
  </div>
  <div class="absolute right-36 bottom-0 -z-10 picture">
    <img src="../../../../assets/images/home/read.svg" />
  </div>
</app-nav-bar>
<div class="bg-[#F5F6F8] px-56 py-12">
  <div class="h-[1100px] bg-white shadow-md backdrop-blur-xl rounded-lg">
    <h1 class="text-center text-4xl font-medium py-16">This new story</h1>
    <div class="grid grid-cols-2 px-16 gap-20">
      <div
        class="grid grid-cols-3 w-[420px] h-[210px] bg-white shadow-md rounded-lg"
        *ngFor="let book of books"
      >
        <div class="col-span-1 border-4">
          <img src="{{ book.image }}" />
        </div>
        <div class="col-span-2 px-5 py-2">
          <h2 class="text-2xl line-clamp-1 text-primary">{{ book.title }}</h2>
          <h3 class="text-[#FFCA42] uppercase">{{ book.author }}</h3>
          <p class="text-[#969AA0]">
            {{ book.description }}
          </p>
          <div class="flex justify-between items-center mt-4">
            <button
              type="button"
              class="w-[70px] h-[40px] border-[1px] rounded-lg border-[#FFCA42] text-[#FFCA42]"
              (click)="viewBook(book.id)"
            >
              View
            </button>
            <button
              type="button"
              class="w-[70px] h-[40px] border-[1px] rounded-lg border-[#4255FF] text-[#4255FF]"
              (click)="openDialog(book)"
            >
              Edit
            </button>
            <button
              type="button"
              class="w-[70px] h-[40px] border-[1px] rounded-lg border-[#FF4242] text-[#FF4242]"
              (click)="removeBook(book)"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
