<div class="h-[1300px] bg-white shadow-md backdrop-blur-xl rounded-lg">
  <h1 class="text-center text-4xl font-medium py-16">{{ queryParam }}</h1>
  <div class="grid grid-cols-2 px-16 gap-20">
    <div
      class="grid grid-cols-3 w-[420px] h-[210px] bg-white shadow-md rounded-lg"
      *ngFor="let book of books"
    >
      <div class="col-span-1 border-4">
        <img src="{{ book.image }}" />
      </div>
      <div class="col-span-2 px-5 py-2">
        <h2 class="text-2xl line-clamp-1 text-primary">
          {{ book.title }}
        </h2>
        <h3 class="text-[#FFCA42] uppercase">{{ book.author }}</h3>
        <p class="text-[#969AA0]">
          {{ book.description }}
        </p>
        <div class="flex justify-between items-center mt-4">
          <button
            type="button"
            class="w-[100px] h-[40px] border-[1px] rounded-lg border-[#FFCA42] text-[#FFCA42]"
            (click)="viewBook(book.id)"
          >
            Read Now
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
