<div class="h-[513px] relative">
  <div class="px-28 py-10">
    <div class="flex justify-between items-center">
      <h2 class="text-2xl">MY<span class="font-semibold">BOOK</span></h2>
      <div class="flex gap-x-48 text-white">
        <ul class="flex items-center justify-center gap-x-8">
          <li>
            <a
              routerLink="/"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Home</a
            >
          </li>
          <li><a routerLink="/book" routerLinkActive="active">Books</a></li>
        </ul>
        <ng-container *ngIf="isBookUrl(); else login">
          <button
            class="px-14 py-2 bg-[#F5F6F8] text-primary-text rounded-full text-lg font-semibold"
            (click)="goToHome()"
          >
            Log out
          </button>
        </ng-container>
      </div>
    </div>
    <ng-content select=".nav"></ng-content>
  </div>
  <ng-content select=".picture"></ng-content>
  <div class="absolute top-0 right-0 -z-20">
    <img src="../../../../assets/images/home/wave.svg" />
  </div>
</div>

<ng-template #login>
  <button
    class="px-14 py-2 bg-[#F5F6F8] text-primary-text rounded-full text-lg font-semibold"
    (click)="goToLogin()"
  >
    Log in
  </button>
</ng-template>
