<div class="bg-[#F5F6F8]">
  <div class="relative">
    <button class="absolute top-10 left-24" (click)="backToBook()">
      <img src="../../../assets/images/book/back.svg" class="w-14 h-14" />
    </button>
  </div>
  <img src="../../../assets/images/book/header.png" class="w-full" />
  <div class="flex justify-center items-center">
    <form
      class="w-[1000px] h-[630px] shadow-lg bg-[#F5F6F8] absolute top-44 rounded-lg p-8 space-y-4"
      [formGroup]="reactiveAddBookForm"
      (ngSubmit)="handleAddBook()"
    >
      <h2 class="text-center text-3xl font-medium">Add New Book</h2>
      <div class="flex gap-10 justify-center">
        <div
          class="w-[210px] h-[220px] overflow-hidden bg-white shadow-md rounded-md flex flex-col justify-center items-center gap-2"
        >
          <img src="../../../assets/images/bookcard/garis-waktu.jpg" />
        </div>
        <div class="flex flex-col justify-center gap-y-1">
          <span for="title" class="text-left">Title</span>
          <input
            type="text"
            class="border-[1px] border-[#D1D5DB] rounded-md px-3 py-2 w-[350px]"
            placeholder="Enter title"
            formControlName="title"
          />
          <span for="author" class="text-left">Author</span>
          <input
            type="text"
            class="border-[1px] border-[#D1D5DB] rounded-md px-3 py-2 w-[350px]"
            placeholder="Enter author name"
            formControlName="author"
          />
          <span for="category" class="text-left">Category</span>
          <select
            class="border-[1px] border-[#D1D5DB] rounded-md px-3 py-2 w-[350px]"
            formControlName="category"
          >
            <option selected>Choose a category</option>
            <option
              *ngFor="let category of categories"
              value="{{ category.name }}"
            >
              {{ category.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="space-y-1">
        <span for="description">Description</span>
        <textarea
          placeholder="Enter a description..."
          cols="30"
          rows="8"
          class="rounded-md px-3 py-2 w-full resize-none"
          formControlName="description"
        ></textarea>
      </div>
      <button class="bg-[#FFCA42] px-5 py-2 rounded-md">
        Create
      </button>
    </form>
  </div>
</div>
