<div class="flex justify-center items-center h-screen">
  <div class="grid grid-cols-12 w-[1200px] h-[600px]">
    <div
      class="col-span-8 bg-primary text-white p-8 rounded-tl-xl rounded-bl-xl"
    >
      <h2 class="text-xl">MY<span class="font-semibold">BOOK</span></h2>
      <div class="flex flex-col justify-center items-center h-full">
        <img
          src="../../../../assets/images/login/astronaut.svg"
          class="h-56 w-56"
        />
        <h3 class="text-xl">
          Welcome MY<span class="font-semibold">BOOK</span>
        </h3>
        <p class="text-xs">There is no friend as loyal as a book.</p>
      </div>
    </div>
    <div
      class="col-span-4 p-8 bg-opacity-30 backdrop-blur-3xl border-[1px] rounded-tr-xl rounded-br-xl"
    >
      <div class="flex flex-col justify-center items-center h-full gap-8">
        <div>
          <img src="../../../../assets/images/login/book.svg" />
          <h1 class="text-4xl font-bold text-primary-text text-center">
            WELCOME
          </h1>
        </div>
        <form
          class="flex flex-col w-full gap-5"
          [formGroup]="reactiveLoginForm"
          (ngSubmit)="handleLogin()"
        >
          <div class="relative">
            <img
              src="../../../../assets/images/login/mail.svg"
              class="absolute top-[6px] px-2"
            />
            <input
              type="text"
              placeholder="Email"
              [className]="reactiveLoginForm.get('email')?.touched &&
              reactiveLoginForm.get('email')?.errors?.['emailIsRestricted'] ? 'py-2 px-9 rounded-lg w-full bg-transparent border-[1px] text-sm text-primary-text font-light border-red-500' : 'py-2 px-9 rounded-lg w-full bg-transparent border-[1px] text-sm text-primary-text font-light border-[#D0D0D0]'"
              formControlName="email"
              appValidationEmail
            />
          </div>
          <div class="relative">
            <img
              src="../../../../assets/images/login/lock.svg"
              class="absolute top-[6px] px-2"
            />
            <input
              [type]="!isEye ? 'password' : 'text'"
              placeholder="Password"
              [className]="reactiveLoginForm.get('password')?.touched &&
              reactiveLoginForm.get('password')?.errors?.['passwordIsRestricted'] ? 'py-2 px-9 rounded-lg w-full bg-transparent border-[1px] text-sm text-primary-text font-light border-red-500' : 'py-2 px-9 rounded-lg w-full bg-transparent border-[1px] text-sm text-primary-text font-light border-[#D0D0D0]'"
              formControlName="password"
              appValidationPassword
            />
            <ng-container *ngIf="!isEye; then eyeon; else eyeoff">
            </ng-container>
          </div>
          <button class="p-2 rounded-full bg-[#3949AB] text-white" [disabled]="reactiveLoginForm.invalid">
            Log in
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #eyeon>
  <button type="button" (click)="isEye = !isEye">
    <img
      src="../../../../assets/images/login/eye.svg"
      class="absolute top-[6px] right-0 px-2 cursor-pointer"
    /></button
></ng-template>

<ng-template #eyeoff
  ><button type="button" (click)="isEye = !isEye">
    <img
      src="../../../../assets/images/login/eye-off.svg"
      class="absolute top-[6px] right-0 px-2 cursor-pointer"
    /></button
></ng-template>
