<form class="p-8" [formGroup]="reactiveEditBookForm">
  <h2 class="text-center text-3xl font-medium">Update Book</h2>
  <div class="flex gap-10 justify-center">
    <div class="flex flex-col justify-center gap-y-1">
      <span for="title" class="text-left">Title</span>
      <input
        type="text"
        class="border-[1px] border-[#D1D5DB] rounded-md px-3 py-2 w-[350px]"
        placeholder="Enter title"
        formControlName="title"
      />
      <span for="author" class="text-left">Author</span>
      <input
        type="text"
        class="border-[1px] border-[#D1D5DB] rounded-md px-3 py-2 w-[350px]"
        placeholder="Enter author name"
        formControlName="author"
      /><span for="description">Description</span>
      <textarea
        placeholder="Enter a description..."
        cols="30"
        rows="8"
        class="rounded-md px-3 py-2 w-full resize-none border-[1px] border-[#D1D5DB]"
        formControlName="description"
      ></textarea>
    </div>
  </div>
  <div class="space-x-2 mt-3">
    <button
      type="button"
      mat-dialog-close
      class="bg-red-500 px-5 py-2 rounded-md text-white"
    >
      Cancel
    </button>
    <button
      type="button"
      [mat-dialog-close]="true"
      (click)="handleUpdateBook()"
      class="bg-[#FFCA42] px-5 py-2 rounded-md text-white"
    >
      Update
    </button>
  </div>
</form>
